.content-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media(min-width: $desktop-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}