.subHeader {
    background: $off-white;

    @media(min-width: $desktop-breakpoint) {
        width: 100%;
    }
}

.subHeader__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $xs-size 0;
    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        padding: $s-size 0;
    }
}

.subHeader__title {
    color: $dark-blue;
    text-decoration: none;
    h5{
        margin: $xs-size;
        @media(min-width: $desktop-breakpoint) {
            margin: 0 $xs-size;
        }
    }
}